<% if @cart.empty? %>
    <p>Please at least buy one item from me</p>
<% end %>

<div id = "itemsContainer">
    
    <table id = "customers">
        <% total = 0 %>
        
        <% @cart.each do |id, quantity| %>
        
            <% item = Item.find_by_id(id) %>
            
            <tr>
                
                    <td class="image"><%= link_to (image_tag item.image_url, :style =>"height:35px"), item %></td>
                    <td class="price"><%= number_to_currency(item.price, :unit=> "€") %></td>
                    <td class="quantity"><%= quantity %></td>
                    <td class="price"><%= number_to_currency(quantity * item.price, :unit=> "€") %></td>
                    <td class="price"><a class="button" href="/cart/remove/<%= item.id %>">Remove!</a></td>
                
            </tr>
           
        
        <% total += quantity * item.price %>
        
        <% end %>
        
         
            <tr>
                <td class="price" colspan="4">The Total is: <%= number_to_currency(total, :unit=> "€") %></td>
                <td class="price" colspan="4"><a class="button" href="/cart/clear">Clear the Cart!</a></td>
            </tr>
        
        
    </table>
    
</div>
